<hr class="my-5">
<footer class="page-footer font-small unique-color-dark">


    <div class="primary-color">
        <div class="container">

            <div class="row py-4 d-flex align-items-center">


                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                </div>



                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <a class="fb-ic ml-0">
                        <i class="fab fa-facebook white-text mr-4"> </i>
                    </a>

                    <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>

                    <a class="gplus-ic">
                        <i class="fab fa-google-plus white-text mr-4"> </i>
                    </a>

                    <a class="li-ic">
                        <i class="fab fa-linkedin white-text mr-4"> </i>
                    </a>

                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>


            </div>

        </div>
    </div>

    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">


            <div class="col-lg-6">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>YAM</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>For more Projects like this please Contact us either Umer or Azeem! </p>
            </div>



            <div class="col-lg-6">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home"></i></i> Lahore, LHR 54000, PK</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i>Email: umerabdillah6223@gmail</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i>Email: azeemforall4406148@gmail.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i>Contact No: +92 084 233 075</p>
                <p>
                    <i class="fa fa-print mr-3"></i>Contact No: +92 064 446 303</p>
            </div>


        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright YAM squad:
        <a href="/"> YAM SQUAD Web Project</a>
    </div>
    </body>

    </html>