<section id="examples" class="text-center" style="padding:0% 15% 0% 15%;">
    <h2 class="mb-5 font-weight-bold">What's inside Seige</h2>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="view overlay z-depth-1-half">
                <img src="/images/ela.jpg" class="img-fluid" alt="">
                <div class="mask rgba-white-slight"></div>
            </div>
            <h4 class="my-4 font-weight-bold">Ela's Buff</h4>
            <p class="grey-text">Ela has access to the Grzmot Mine, which are concussion proximity devices that upon exploding cause a dizzying effect and severe white noise for a short time. These stick onto any surface and even survive if the object it is stuck on is shot
                without hitting the mine. Direct hits though will destroy the mine.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="view overlay z-depth-1-half">
                <img src="/images/mozie.jpg" class="img-fluid" alt="">
                <div class="mask rgba-white-slight"></div>
            </div>
            <h4 class="my-4 font-weight-bold">Mozzie the best</h4>
            <p class="grey-text">Mozzie’s launcher, Pests, are tiny 4-legged bots that can be used to target a single drone, or deployed into an area to prevent access by a drone. When launched, the Pest latches onto the nearest enemy drone and obscures its camera. It then
                initiates an override sequence to hack the drone and give control to Mozzie. Counter-intelligence is enabled with no risk of a counter hack. Single-use only, Pests self-destruct by dissolving into thin air once their target is in Mozzie’s
                control.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="view overlay z-depth-1-half">
                <img src="/images/thermite.jpg" class="img-fluid" alt="">
                <div class="mask rgba-white-slight"></div>
            </div>
            <h4 class="my-4 font-weight-bold">Hibana or Thermite?</h4>
            <p class="grey-text">When you think about reliability, only a handful of operators come to mind, and Thermite is almost always on that list. Since day one, Thermite has been capable of breaching any reinforced wall with his special charges. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="view overlay z-depth-1-half">
                <img src="/images/ash.jpg" class="img-fluid" alt="">
                <div class="mask rgba-white-slight"></div>
            </div>
            <h4 class="my-4 font-weight-bold">Ash new Elite</h4>
            <p class="grey-text">UNIQUE ABILITIES AND PLAYSTYLE Ash is a fast-paced front liner; capable of breaching, flanking and dividing the Defender's attention in seconds. Ash is capable of ranged soft breaching thanks to her modified M120 CREM Breaching Rounds.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="view overlay z-depth-1-half">
                <img src="/images/jackal.jpg" class="img-fluid" alt="">
                <div class="mask rgba-white-slight"></div>
            </div>
            <h4 class="my-4 font-weight-bold">Jackal's Nerf</h4>
            <p class="grey-text">Lastly, and most significantly, Jackal is getting reworked. Previously he has worked by revealing enemy locations based on their footprints. In a game where intel is worth its weight in gold, this made Jackal a god-tier pick. As a result,
                he has been banned an insane 73 percent of the time in ranked matches. </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="view overlay z-depth-1-half">
                <img src="/images/smoke.jpg" class="img-fluid" alt="">
                <div class="mask rgba-white-slight"></div>
            </div>
            <h4 class="my-4 font-weight-bold">Smoke New Elite</h4>
            <p class="grey-text">Smoke is a great late-game defender thanks to his poison smoke grenades. They essentially force opposing teams to wade through the smoke, take damage, and be generally disorientated enough for you to finish the job. He also has some great
                guns that are still highly competitive.</p>
        </div>
    </div>
</section>