<section id="best-features" class="text-center" style="padding: 0% 15% 0% 15%;">
    <h2 class="mb-5 font-weight-bold">Rainbow Details</h2>
    <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-8">
            <p class="grey-text">The latest Rainbow Six Siege is now available to download and install. ... Key changes for the Rainbow Six Siege Y5S2. 3 update include minor buffs for Operators Gridlock, Oryx, and Fuze. Gridlock's Caltrop gadget has been improved along with
                Oryx's dash ability, while Fuze now has 4 cluster charges as opposed to 3.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-5">
            <i class="fa fa-camera-retro fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">Size of update</h4>
            <p class="grey-text">The latest expansion also brings a new R6 Neon Dawn battle pass for players. It will have a total of 100 tiers, which is the largest we have seen in a Rainbow Six Seige game. ... The patch update will take up about 60 GB on your Windows PC
                and 35.90 GB on gaming consoles.</p>
        </div>
        <div class="col-md-4 mb-1">
            <i class="fa fa-heart fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">LORD's Rework</h4>
            <p class="grey-text">November 17, 2020 The Tachanka rework hits live Rainbow Six Siege servers today. The Rainbow Six Siege Tachanka rework is coming – very soon. After a stay on test servers, the new and improved Tachanka hits the live game today across all platforms.</p>
        </div>
        <div class="col-md-4 mb-1">
            <i class="fa fa-bicycle fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">Poor ECHO</h4>
            <p class="grey-text">After issues with the Yokai drones went unfixed, Echo has once again been temporarily banned from competitive play. After multiple issues with Yokai drones becoming indestructible, Ubisoft today banned Echo drones from competitive play for
                an indefinite amount of time.</p>
        </div>
    </div>
</section>
<hr class="my-5">